
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
/phpunit.xml
###< symfony/phpunit-bridge ###

###> Stephen ###
/node_modules
.php-cs-fixer.cache
/.idea
/.vscode
/dkim
/tools/php-cs-fixer/vendor
/tools/phpstan/vendor
###< Stephen ###
