<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Symfony - Example{% endblock %}</title>
        <link href="{{ asset('css/app.css') }}" rel="stylesheet"/>
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
