{% extends 'layouts/front.html.twig' %}

{% block content %}
    <h1>Blog - Show article</h1>
    <p>Title: {{ article.title }}</p>
    <p>Slug: {{ article.slug }}</p>
    <p>Content: {{ article.content }}</p>
{% endblock %}